<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://image.pandawep.in/logo2.jpg" type="image/x-icon">
    <meta property="og:image" content="https://image.pandawep.in/logo2.jpg" itemprop="thumbnailUrl">
    <title>Error</title>
    <link rel="stylesheet" href="https://ssl.pandawep.in/CSS/tg404.css">

</head>
<body>
<section class="page_404">
   
	
	    <div class="four_zero_four_bg"></div>

		    <h3 class="hz">
		        Log Error 404
		    </h3>
		
		    <p>
                This is not a video. If it were a video, an error would be shown. Then contact the admin and developer.
            </p>
		
		    <a href="https://t.me/PandaWepChat" >
                <button>
                    Help
                </button>
             
            </a>

		
    
</dic>
</section>
        <script src="https://cdn.plyr.io/3.6.12/plyr.js"></script>
	        <script>
               const controls = [
              'play-large',
              'rewind',
              'play', 
              'fast-forward', 
              'progress', 
              'current-time',
              'duration',
              'mute',
              'volume',
              'captions',
              'settings',
              'pip',
              'airplay',
              'download',
              'fullscreen'
            ];
        document.addEventListener('DOMContentLoaded', () => {
            const player = Plyr.setup('.player', { controls });
        });


    </script>
       <script src="js/wow.min.js"></script>
       <script>
           new WOW().init();
       </script>
</body>
</html>